{% extends "base.html" %} 
{% load static %} 
{% block title %} - Dashboard User{%endblock%} {% block style %}
<link
	rel="stylesheet"
	href="{% static 'css/user.min.css' %}"
/>
{% endblock%} 
{% block content %}
<main>
	<section class="section dashboard">
		<div class="wrapper">
			<h2 class="section-header">Dashboard</h2>
			<p class="dashboard__user">{{name}} {{surname}} - {{role}}</p>

			<div class="dashboard__box dashboard__myWallet">
				<p class="dashboard__myWallet-balance">
					Balance:
					<span class="dashboard__myWallet--balance-value"
						>{{balance}} USD</span
					>
				</p>
			</div>
			{% if user.role == '2' %}
				<div class="dashboard__box">
					<div class="dashboard__item">
						<a href="/user/setRole/" class="dashboard__link">
							<img
								src="{% static 'icon/user-plus.svg' %}"
								alt="icon user with plus"
							/>
							<p>Set role for user</p>
						</a>
					</div>
				</div>
			{% endif %}
			{% if user.role == '2' or user.role == '6' %}
				<div class="dashboard__box">
					<div class="dashboard__item">
						<a href="{% url 'create-blog-post' %}" class="dashboard__link">
							<img
								src="{% static 'icon/file-plus.svg' %}"
								alt="icon file with plus"
							/>
							<p>Create post</p>
						</a>
					</div>

					<div class="dashboard__item">
						<a href="{% url 'all-blog-post' %}" class="dashboard__link">
							<img src="{% static 'icon/list.svg' %}" alt="icon with list" />
							<p>Display post list</p>
						</a>
					</div>
				</div>
			{% endif %}
			{% if user.role == '2' or user.role == '5' %}
				<div class="dashboard__box">
					<div class="dashboard__item">
						<a href="{% url 'create-pass' %}" class="dashboard__link">
							<img
								src="{% static 'icon/plus-square.svg' %}"
								alt="icon with plus"
							/>
							<p>Create pass</p>
						</a>
					</div>

					<div class="dashboard__item">
						<a href="{% url 'show-all-list-passes' %}" class="dashboard__link">
							<img
								src="{% static 'icon/book-open.svg' %}"
								alt="icon with open book"
							/>
							<p>Display passes list</p>
						</a>
					</div>
				</div>
			{% endif %}
			<div class="dashboard__box">
				<div class="dashboard__item">
					<a href="{% url 'my-client-history' %}" class="dashboard__link">
						<img
							src="{% static 'icon/book-open.svg' %}"
							alt="icon with open book"
						/>
						<p>My Passes</p>
					</a>
				</div>
			</div>
		</div>
	</section>
</main>
{% endblock%}
