{% extends "base.html" %} 
{% load static %}
{% block title %} - Set rule for User{% endblock%}
{% block style %}<link rel="stylesheet" href="{% static 'css/user.min.css' %}">{% endblock%} 
{% block content %} 
<main>
    <section class="section set-rule page-section">
        <div class="wrapper">
            <h2 class="section-header">Set rule for user</h2>
            <div class="set-rule__box">
                <label class="input-box__label" for="email">Find user by e-mail:</label>
                <input type="email" name="email" id="email" placeholder="enter e-mail address">
                <hr class="set-rule__hr">
                <div class="set-rule__users users">
                    <!-- code box users from js-->
                    <div class="users__item">
                        <div data-name="test@mail.com" class="users__name">
                            <p>test@mail.com - imię i nazwisko</p>
                        </div>
                    </div>
                    <div class="users__item">
                        <div data-name="admin@mail.com" class="users__name">
                            <p>admin@mail.com - adm i adminis</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}
{% block script %} 
<script src="{% static 'js/setRule.min.js' %}"></script>
{% endblock %}