{% extends "base.html" %} 
{% load static %}
{% block title %} - Log In{% endblock%}
{% block style %}<link rel="stylesheet" href="{% static 'css/user.min.css' %}">{% endblock%} 
{% block content %} 
<main>
    <section class="section signin page-section">
        <div class="wrapper">
            <h2 class="section-header">Sign In</h2>
            <form class="signin__form" method="POST">
                {% csrf_token %}
                <div class="signin__box">

                    <div class="signin__email input-box">
                        <label class="input-box__label" for="email">Your email address:</label>
                        <input type="email" name="email" id="email">
                    </div>
                    
                    <div class="signin__password input-box">
                        <label class="input-box__label" for="password">Password</label>
                        <input type="password" name="password" id="password">
                    </div>
                    <button type="submit" class="btn">Sign In</button>
                </div>
            </form>
        </div>
    </section>
</main>



{% endblock %}