{% extends "base.html" %} 
{% load static %}
{% block title %} - Sign Up{% endblock%} 
{% block style %}<link rel="stylesheet" href="{% static 'css/user.min.css' %}">{% endblock%} 
{% block content %} 
<main>
    <section class="section signup page-section">
        <div class="wrapper">
            <h2 class="section-header">Create your account</h2>
            <form class="signup__form" method="POST">
                {% csrf_token %}
                <div class="signup__box">

                    <div class="signup__email input-box">
                        <label class="input-box__label" for="{{ form.email.id_for_label}}">{{ form.email.label }}</label>
                        {{ form.email }}
                        <p class="form-error">{{ form.email.error }}</p>
                    </div>
                    
                    <div class="signup__nameUser input-box">
                        <label class="input-box__label" for="{{ form.nameUser.id_for_label}}">{{ form.nameUser.label }}</label>
                        {{ form.nameUser }}
                        <p class="form-error">{{ form.nameUser.error }}</p>
                    </div>
                    
                    <div class="signup__surnameUser input-box">
                        <label class="input-box__label" for="{{ form.surnameUser.id_for_label}}">{{ form.surnameUser.label }}</label>
                        {{ form.surnameUser }}
                        <p class="form-error">{{ form.surnameUser.error }}</p>
                    </div>
                    
                    <div class="signup__password1 input-box">
                        <label class="input-box__label" for="{{ form.password1.id_for_label}}">{{ form.password1.label }}</label>
                        {{ form.password1 }}
                        <span class="form-helptext">
                            {{ form.password1.help_text }}
                        </span>
                        <p class="form-error">{{ form.password1.error }}</p>
                    </div>
                    
                    <div class="signup__password2 input-box">
                        <label class="input-box__label" for="{{ form.password2.id_for_label}}">{{ form.password2.label }}</label>
                        {{ form.password2 }}
                        <p class="form-helptext">
                            {{form.password2.help_text}}
                        </p>
                        <p class="form-error">{{ form.password2.error }}</p>
                    </div>
                    <button type="submit" class="signup__btn btn">sign up</button>
                </div>
            </form>
        </div>
    </section>
</main>



{% endblock %}