{% extends "base.html" %} {% load static %} 
{% block title %} - Blog | All Posts{%endblock%} 
{% block style %}<link rel="stylesheet" href="{% static 'css/blog.min.css' %}"/>{% endblock%} 
{% block content %}
<main>
    <section class="section all-posts">
        <h2 class="section-header">All Posts</h2>
        <div class="wrapper">
            <div class="all-posts__box">
                <div class="all-posts__header">
                    <div class="all-posts__id">id</div>
                    <div class="all-posts__title">title</div>
                    <div class="all-posts__created">created</div>
                    <div class="all-posts__published">Published</div>
                    <div class="all-posts__actions">Actions</div>
                </div>
            {% for item in posts %}
                <div class="all-posts__item">
                    <div class="all-posts__id all-posts__cell">{{item.id}}</div>
                    <div class="all-posts__title all-posts__cell"><a href="{% url 'get-blog-post' item.id %}" target="_blank">{{item.title}}</a></div>
                    <div class="all-posts__created all-posts__cell">{{item.created|date:"d/m/y H:i"}}</div>
                    <div class="all-posts__published all-posts__cell">
                        {% if item.published %}
                            <img src="{% static 'icon/eye.svg' %}" alt="Public post">
                        {% else %}
                        <img src="{% static 'icon/eye-off.svg' %}" alt="Unpublic post">
                        {% endif %}
                    </div>
                    <div class="all-posts__actions all-posts__cell">
                        <a class="all-posts__action" href="{% url 'update-blog-post' item.id %}">Update</a>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
    </section>
</main>
{% endblock%}