{% extends "base.html" %} {% load static %} 
{% block title %} - {{post.title}} | Blog{%endblock%} 
{% block style %}<link rel="stylesheet" href="{% static 'css/blog.min.css' %}"/>{% endblock%} 
{% block content %}
<main>
    <section class="section post">
        <div class="wrapper">
            <div class="post__box">
                <h2 class="section-header post__header">{{post.title}}</h2>
                <hr class="post__hr">
                <p class="post__created">{{post.created}}</p>
                <p class="post__like">Liked: {{post.liked}}</p>
                <img src="{{post.photo.url}}" alt="{{post.photoAlt}}" class="post__img">
                <p class="post__full-text">{{post.text}}</p>
            </div>
        </div>
    </section>
</main>
{% endblock%}