@media (min-width: 768px) {
	.blog {
		&__post {
			display: grid;
			grid-template-columns: 2fr 3fr;
			grid-template-rows: 1fr 2fr;
			gap: 1em;
		}

		&__img {
			grid-column: 1/2;
			grid-row: 1/3;
			object-fit: fill;
			height: 100%;
		}

		&__title {
			grid-column: 2/-1;
			grid-row: 1/2;
			transform: translateY(50%);
		}

		&__short-text {
			grid-column: 2/-1;
			grid-row: 2/3;
		}
	}

	.post {
		&__header {
			font-size: 3.4rem;
		}

		&__created,
		&__like {
			font-size: 2.2rem;
		}

		&__full-text {
			font-size: 2.6rem;
			line-height: 3rem;
		}
	}

	.all-posts {
		&__header {
			display: grid;
            grid-template-columns: 1fr 5fr repeat(2, 1fr) 2fr;
		    grid-template-rows: repeat(2, 1fr);
            text-align: center;
            text-transform: uppercase;
            font-weight: bold;
            line-height: 2.8rem;

            .all-posts__title{
                text-align: center;
            }
		}

		&__id {
			grid-row: 1/3;
			grid-column: 1/2;
		}

		&__title {
			grid-row: 1/3;
			grid-column: 2/3;
			text-align: left;
		}

		&__created {
			grid-row: 1/3;
			grid-column: 3/4;
		}

		&__published {
			grid-row: 1/3;
			grid-column: 4/5;
		}

		&__actions {
			grid-row: 1/3;
			grid-column: 5/6;
		}
	}
}
