$main-color: #231955;
$second-color: #1f4690;
$orange-color: #e8aa42;
$winter-color: #ffe5b4;

$light-blue-gradient: linear-gradient(
	90deg,
	rgba(31, 70, 144, 0.6) 0%,
	rgba(31, 70, 144, 0.6) 100%
);
