@use "colors" as *;
@media (min-width: 992px) {
	.header {
		background-image: $light-blue-gradient, url("./../img/swimmers-big.jpg");

        &__title {
			font-size: 7.2rem;
			letter-spacing: 6px;
            text-shadow: 0 0 9px $main-color;
		}

        &__text {
            font-size: 3.2rem;
            letter-spacing: 5px;
        }
	}
}
