@use "colors" as *;
@media (min-width: 768px) {
	.nav {
		.wrapper {
			height: 100%;
		}

		&__list {
			position: relative;
			display: flex;
			flex-direction: row;
			justify-content: flex-end;
			margin-bottom: 0;
			height: 100%;
			transform: translate(0);
			background-color: transparent;
		}

		&__item {
			padding: 0.5em;
            height: 100%;
			font-size: 2.2rem;
            line-height: 4.4rem;
            transition: background-color .4s;

            &:hover{
                background-color: $second-color;
            }
		}



		&__btn {
			display: none;
		}
	}

	.header {
		&__title {
			font-size: 6.4rem;
			letter-spacing: 4px;
		}

        &__text {
            font-size: 2.6rem;
        }
	}
}
