@use "../utilities/colors" as *;

.create-update-pass{
    margin-top: calc(60px + 3rem);
    min-height: 100vh;
    &__box{
        display: flex;
        flex-direction: column;
    }

    &__item{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 2.2rem;
    }

    &__label{
        text-transform: uppercase;
        font-weight: bold;
    }

    input{
        margin: 1em auto;
        padding: 0.5em 1em;
        width: 100%;
        border-radius: 1em;
        font-size: 2.2rem;
    }
}